.panel-container{
    margin: 15% auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #fff;
    .panel-heading{
        text-align: center;
        padding: 15px;
        font-size: 25px;
    }
}
